[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinxcontrib-seqdiag = "*"
sphinx_rtd_theme = "*"

[packages]
django = "==2.2.13"
djangorestframework = "*"
cloudinary = "*"
gunicorn = "*"
gevent = "*"
pillow = "*"
python-slugify = "*"
django-extensions = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"
