[Unit]
Description={{project_name}} Celery Worker Service
After=network.target

[Service]
Type=forking
RuntimeDirectory={{celery_run_dir}}
WorkingDirectory={{django_base_dir}}
RuntimeDirectoryPreserve=yes
ExecStart=/usr/bin/python3 -m pipenv run python -m celery multi start worker -A {{project_name}} --pidfile=/var/run/{{celery_run_dir}}/%n.pid {{worker_opts}}
ExecStop=/usr/bin/python3 -m pipenv run python -m celery multi stopwait worker ---pidfile=/var/run/{{celery_run_dir}}/%n.pid
ExecReload=/usr/bin/python3 -m pipenv run python -m celery multi restart worker -A {{project_name}} --pidfile=/var/run/{{celery_run_dir}}/%n.pid {{worker_opts}}
Restart=always

[Install]
WantedBy=multi-user.target
